<header>
	<h1 class="index-theme"><strong>ようこそ　Bookersへ！</strong></h1>
	　<p class="index-text"><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や<br><br>印象を共有し交換することができます</p>
	<p class="index-link"><%= link_to "start", books_path %></p>
</header>